stages:
  - test

rust-msrv:
  stage: test
  image: rust:1.38.0
  script:
    - rustc --version && cargo --version
    - cargo clean
    - cargo test --verbose

rust-latest:
  stage: test
  image: rust:latest
  script:
    - rustc --version && cargo --version
    - cargo clean
    - cargo test --verbose

rust-nightly:
  stage: test
  image: rustlang/rust:nightly
  script:
    - rustc --version && cargo --version
    - cargo clean
    - cargo test --verbose
  allow_failure: true
